.productCard .textPart{
    transition: transform .5s ease-out;
}

.productCard:hover .textPart{
    transform: translateY(-1.5rem);
}
.productCard img{
    transition: transform .5s ease-out;
    
}
.productCard:hover img{
    transform: scale(1.1);
}

.productCard:hover{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}